* {
    margin: 0; padding: 0;list-style: none;box-sizing: border-box;width:100%;
    height:100%;
}
.superContainer{
    width:100%;
    height:100%;
    position: relative;
}

/*第一屏*/
.bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.bg11{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 850px;
    background: url(../img/bg11.png) 50% 0 no-repeat;
    transition: all 1s;
}
.bg12{
    position: absolute;
    bottom: -400px;
    opacity: 0;
    width: 100%;
    height: 392px;
    background: url(../img/bg12.png) 50% 0 no-repeat;
    transition: all 1.7s;
}
.active .bg12{
    bottom: 90px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bg13{
    position: absolute;
    width: 100%;
    height: 377px;
    background: url(../img/bg13.png) 50% 0 no-repeat;
    transition: all 1.7s;
    bottom: -300px;
    opacity: 0;
}
.active .bg13{
    bottom: 0;
    opacity: 1;
    transition-delay: 0.7s;
}
.mail{
    top: -225px;
    float: left;
    height: 26px;
    text-indent: -9999px;
    position: absolute;
    left: 50%;
    opacity: 0;
    width: 375px;
    margin-left: -187px;
    background-image: url(../img/logo.png);
    transition: all 1.7s;
}
.active .mail{
    top: 25px;
    opacity: 1;
    transition-delay: 0.7s;
}
.a163{
    float: left;
    width: 107px;
}
.a126{
    float: left;
    width: 108px;
    margin-left: 23px;
}
.yeah{
    float: right;
    width: 115px;
}
.hgroup{
    opacity: 0;
    transform: scale(0, 0);
    position: absolute;
    width: 554px;
    height: 176px;
    left: 50%;
    top: 25%;
    margin: 0 0 0 -277px;
    text-indent: -9999px;
    background-image: url(../img/slogan.png);
    transition: all 1.7s;
}
.active .hgroup{
    opacity:1;
    transform: scale(1, 1);
    transition-delay: 0.7s;
}
h1{
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h2{
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.all{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    margin: 0 0 0 -280px;
    font-size: 14px;
    color: #94a7c6;
    transition: all 0.5s;
}
.active .all{
    opacity:1;
    transition-duration: 1s;
    transition-delay: 2s;
}

/*第二屏*/
.bg21{
    position: absolute;
    left: -50%;
    bottom: 15%;
    width: 233px;
    height: 250px;
    margin-bottom: 40px;
    background: url(../img/bg21.png) no-repeat;
    transition: all 1s;
    opacity: 0;
}
.active .bg21{
    opacity: 1;
    left:5%;
}
.bg22{
    opacity: 0;
    transition-delay: 0.7s;
    position: absolute;
    right: -50%;
    bottom: 15%;
    width: 819px;
    height: 299px;
    margin-bottom: 70px;
    background: url(../img/bg22.png) right 0 no-repeat;
    transition: all 1s;
}
.active .bg22{
    opacity: 1;
    right:10%;
}
.bg23{
    bottom: -40%;
    position: absolute;
    left: 50%;
    width: 819px;
    height: 325px;
    margin-left: -409px;
    background: url(../img/bg23.png) 50% 0 no-repeat;
    transition: all 1.7s;
}
.active .bg23{
    transition-delay: 0.7s;
    bottom: 15%;
}
strong{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    font-size: 24px;
    font-weight: 500;
    color: #748A9E;
    transition: all 1.7s;
    transform: scale(0, 0);
}
.active strong{
    opacity:1;
    transform: scale(1, 1);
    transition-delay: 0.7s;
}
.active .h2{
    opacity:1;
    transform: scale(1, 1);
    transition-delay: 0.7s;
}
.h2{
    opacity: 0;
    transform: scale(0, 0);
    background-image: url(../img/t2.png);
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    margin-top: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    transition: all 1s;
}
.p1{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 15%;
    width: 510px;
    margin-left: -255px;
    margin-top: 130px;
    font-size: 16px;
    color: #727F8C;
    transition: all 2.7s;
}
.active .p1{
    opacity:1;
    transition-delay: 1.7s;
}

/*第三屏*/
.bg31{
    opacity: 1;
    transition-delay: 1s;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 892px;
    height: 472px;
    margin-left: -396px;
    margin-bottom: 80px;
    background-image: url(../img/bg31.png);
    transition: all 1s;
}
.bg32{
    transition-delay: 1s;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 892px;
    height: 472px;
    margin-left: -396px;
    background: url(../img/bg32.png) 470px bottom no-repeat;
    opacity: 1;
    transition: all 1s;
}
.bg33{
    opacity: 0;
    position: absolute;
    right: -10%;
    bottom: 0;
    width: 441px;
    height: 380px;
    background: url(../img/bg33.png) 0 0 no-repeat;
    transition: all 1.7s;
}
.active .bg33{
    opacity:1;
    transition-delay: 0.7s;
    right:25%;
}
.p3{
    opacity: 0;
    position: absolute;
    width: 430px;
    left: -50%;
    top: 15%;
    margin-top: 250px;
    font-size: 16px;
    line-height: 30px;
    font-family: "微软雅黑";
    color: #FFFDE1;
    transition: all 1.7s;
}
.active .p3{
    opacity:1;
    transition-delay: 0.7s;
    left:15%;
}
.active .h3{
    opacity:1;
    transform: scale(1, 1);
    transition-delay: 0.7s;
}
.h3 {
    opacity: 0;
    transform: scale(0, 0);
    background-image: url(../img/t3.png);
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    margin-top: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    transition: all 1s;
}
/*第四屏*/
.bg41{
    bottom: -115%;
    position: absolute;
    width: 100%;
    height: 372px;
    background: url(../img/bg41.png) 50% 0 no-repeat;
    transition: all 1.7s;
}
.active .bg41{
    transition-delay: 0.7s;
    bottom: 15%;
}
.bg42{
    bottom: -115%;
    position: absolute;
    width: 100%;
    height: 449px;
    background: url(../img/bg42.png) 50% 0 no-repeat;
    transition: all 2.1s;
}
.active .bg42{
    transition-delay: 1.1s;
    bottom: 15%;
}
.bg43{
    bottom: 15%;
    transition-delay: 0.9s;
    position: absolute;
    width: 100%;
    height: 449px;
    margin-bottom: -130px;
    background: url(../img/bg43.png) 50% 0 no-repeat;
    transition: all 1s;
}
.h4{
    opacity: 0;
    transform: scale(0, 0);
    position: absolute;
    background-image: url(../img/t4.png);
    left: 50%;
    top: 15%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    margin-top: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    transition: all 1s;
}
.active .h4{
    opacity:1;
    transform: scale(1, 1);
    transition-delay: 0.7s;
}

/*第五屏*/
.bg51,.bg52,.bg53,.bg54{
    position: absolute;
    z-index: 1;
    width: 208px;
    /*left: 50%;*/
    bottom: 20%;
    padding-top: 210px;
    color: #fff;
}
.bg51{
    left:-15%;
    opacity: 0;
    margin-top: 300px;
    background: url(../img/bg51.png)  no-repeat 50% 70%;
    transition: all 2s;
}
.active .bg51{
    opacity:1;
    left: 10%;
    transition-delay: 0.7s;
}
.section5 h4 {
    float: left;
    height:30px;
    margin-top: 360px;
    font-size: 23px;
    font-weight: 500;
    font-family: "微软雅黑";
    display: block;
    /*-webkit-margin-before: 1.33em;*/
    /*-webkit-margin-after: 1.33em;*/
    /*-webkit-margin-start: 0px;*/
    /*-webkit-margin-end: 0px;*/
}
.section5 p{
    font-size: 14px;
    display: block;
    float: left;
    font-family: "微软雅黑";
    line-height: 25px;
    margin-top: 10px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.h5{
    opacity: 0;
    transform: scale(0, 0);
    background-image: url(../img/t5.png);
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    width: 512px;
    height: 45px;
    margin-left: -256px;
    margin-top: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    transition: all 1.7s;
}
.active .h5{
    opacity:1;
    transform: scale(1, 1);
    transition-delay: 0.7s;
}
.bg52{
    left:5%;
    opacity:0;
    background: url(../img/bg52.png) 50% 70% no-repeat;
    transition: all 2s;
}
.active .bg52{
    opacity:1;
    left: 30%;
    transition-delay: 0.7s;
}
.bg53{
    right:5%;
    opacity: 0;
    background: url(../img/bg53.png) 50% 70% no-repeat;
    transition: all 2s;
}
.active .bg53{
    transition-delay: 0.7s;
    right:33%;
    opacity:1;
}
.bg54{
    right:-15%;
    opacity: 0;
    background: url(../img/bg54.png) 50% 70% no-repeat;
    transition: all 2s;
}
.active .bg54{
    transition-delay: 0.7s;
    right:10%;
    opacity:1;
}

/*第六屏*/
.bg61{
    position: absolute;
    top: -454px;
    width: 100%;
    height: 545px;
    background: url(../img/bg61.png) 50% 0 no-repeat;
    transition: all 1.7s;
}
.active .bg61{
    top: 0;
    transition-delay: 0.7s;
}
.bg62{
    position: absolute;
    left: 10%;
    bottom: 20%;
    width: 597px;
    height: 284px;
    margin-left: -507px;
    background-image: url(../img/bg62.png);
    transition: all 1s;
}
.active .bg62{
    left: 50%;
    opacity: 1;
    transition-delay: 0.7s;
}
.h6{
    width: 561px;
    margin-left: -280px;
    background-image: url(../img/t6.png);
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    height: 45px;
    margin-top: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    transition: all 1s;
    transform: scale(0, 0);
}
.active .h6{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-delay: 0.7s;
}
.txt6{
    width:447px;
    height:156px;
    position: absolute;
    bottom: 40%;
    right: -50%;
    font-size: 12px;
    margin-left: 90px;
    opacity: 0;
    transition: all 1.7s;
}
.active .txt6{
    right:10%;
    opacity: 1;
    transition-delay: 0.7s;
}
.txt6 p{
    height:42px;
    color: #5C7970;
    line-height: 20px;
    margin-bottom: 17px;
}

/*第七屏*/
.bg71{
    position: absolute;
    left: 50%;
    bottom: -201px;
    width: 699px;
    height: 201px;
    margin-left: -630px;
    background: url(../img/bg71.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active .bg71{
    bottom: 250px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bg72{
    position: absolute;
    left: 50%;
    bottom: -206px;
    width: 182px;
    height: 206px;
    margin-left: -170px;
    background: url(../img/bg72.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active .bg72{
    bottom: 400px;
    opacity: 1;
    transition-delay: 0.9s;
}
.bg73{
    position: absolute;
    left: 50%;
    bottom: 170px;
    width: 651px;
    height: 231px;
    margin-left: -530px;
    background: url(../img/bg73.png) 50% 0 no-repeat;
}
.h7{
    width: 561px;
    margin-left: -280px;
    background-image: url(../img/t7.png);
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    height: 45px;
    opacity:0;
    margin-top: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    transform: scale(0, 0);
    transition: all 1s;
}
.active .h7{
    opacity: 1;
    transform: scale(1, 1);
    transition-delay: 0.7s;
}
.txt7{
    position: absolute;
    left: 50%;
    bottom: -150px;
    width: 420px;
    margin-left: 100px;
    opacity: 0;
    transition: all 1s;
}
.active .txt7{
    bottom: 420px;
    opacity: 1;
    transition-delay: 1.1s;
}
.txt7 p{
    margin-bottom: 17px;
    color: #EAEFF2;
}
.bg74{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1366px;
    height: 251px;
}

/*第八屏*/
.bg81{
    position: absolute;
    width: 100%;
    bottom: 100px;
    height: 215px;
    background: url(../img/bg81.png) 50% 0 no-repeat;
}
.bg82{
    position: absolute;
    left: 50%;
    bottom: 160px;
    width: 164px;
    height: 117px;
    margin-left: -180px;
    background-image: url(../img/bg82.png);
    opacity: 0;
    transition: all 1s;
}
.active .bg82{
    bottom: 260px;
    margin-left: -280px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bg83{
    position: absolute;
    left: 50%;
    bottom: 280px;
    width: 70px;
    height: 29px;
    margin-left: -330px;
    background-image: url(../img/bg83.png);
    opacity: 0;
    transition: all 1s;
}
.active .bg83{
    bottom: 380px;
    margin-left: -430px;
    opacity: 1;
    transition-delay: 1s;
}
.bg84{
    position: absolute;
    left: 50%;
    bottom: 320px;
    width: 43px;
    height: 26px;
    margin-left: -410px;
    background-image: url(../img/bg84.png);
    opacity: 0;
    transition: all 1s
}
.active .bg84{
    bottom: 420px;
    margin-left: -510px;
    opacity: 1;
    transition-delay: 1.2s;
}
.h8{
    width: 561px;
    margin-left: -280px;
    background-image: url(../img/t8.png);
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    height: 45px;
    margin-top: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}
.active .h8{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-delay: 0.7s;
}
.p8{
    position: absolute;
    left: 50%;
    top: 15%;
    width: 565px;
    margin-left: -282px;
    margin-top: 130px;
    font-size: 16px;
    color: #727F8C;
    opacity: 0;
    transition: all 1s;
    line-height: 25px;
    font-family: "微软雅黑";
}
.active .p8{
    opacity: 1;
    transition-delay: 1.7s;
}

/*第九屏*/
.h9{
    width: 609px;
    margin-left: -304px;
    background-image: url(../img/t9.png);
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 10;
    height: 45px;
    margin-top: 60px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}
.h9 span{
    position: absolute;
    left: -100px;
    top: -48px;
    width: 89px;
    height: 90px;
    background-image: url(../img/yixin.png);
}
.active .h9{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-delay: 0.7s;
}
.bg91, .bg92, .bg93 {
    padding-top: 350px;
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 200px;
    top:140px;
}
.bg91{
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 340px;
    margin-left: -970px;
    background: url(../img/bg91.png) 0 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active .bg91{
    margin-left: -570px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bg91 p {
    height:84px;
    position: relative;
    left: 20px;
    margin-left: 40px;
    border-right: 1px solid #13AB86;
    line-height: 30px;
    font-family: "微软雅黑";
}
.bg92{
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 340px;
    margin-left: -180px;
    background: url(../img/bg92.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active .bg92{
    opacity: 1;
    transition-delay: 0.8s;
}
.bg92 p {
    height:84px;
    position: relative;
    left: 40px;
    margin-left: 30px;
    line-height: 30px;
    font-family: "微软雅黑";
}
.bg93{
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 340px;
    margin-left: 630px;
    background: url(../img/bg93.png) 50% 0 no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active .bg93{
    margin-left: 230px;
    opacity: 1;
    transition-delay: 0.7s;
}
.bg93 p{
    height:84px;
    position: relative;
    left: -20px;
    padding-left: 100px;
    line-height: 30px;
    font-family: "微软雅黑";
    border-left: 1px solid #13AB86;
}

/*第十屏*/
.bg101{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/bg101.png) 50% 20% no-repeat;
}
.bg102{
    position: absolute;
    width: 100%;
    top: 25%;
    height: 79px;
    background: url(../img/bg102.png) 50% 0 no-repeat;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}
.active .bg102{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-delay: 0.7s;
}
.bg103{
    position: absolute;
    width: 100%;
    top: 25%;
    height: 37px;
    margin-top: 110px;
    background: url(../img/bg103.png) 50% 0 no-repeat;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}
.active .bg103{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-delay: 0.7s;
}
.go{
    position: absolute;
    left: 50%;
    top: 55%;
    width: 254px;
    height: 70px;
    margin-top: 220px;
    margin-left: -127px;
    text-indent: -9999px;
    background-image: url(../img/btn.png);
    opacity: 0;
    transition: all 1s;
}
.active .go{
    top: 25%;
    opacity: 1;
    transition-delay: 1.2s;
}
.copy{
    height:16px;
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 0;
}
.copy a{
    margin: 0 7px;
    font-size: 12px;
    color: #a0a0a0;
}
.copy span{
    margin: 0 7px;
    font-size: 12px;
    color: #a0a0a0;
}
.fullPage-nav{
    width:90px;
    height:310px;
    font-size: 12px;
    position: fixed;
    z-index: 100;
    top: 0;bottom: 0;margin: auto;
    opacity: 1;
    right: 7px;
}
.fullPage-nav ul{
    width:90px;
    height:300px;
}
.fullPage-nav ul li{
    width: 90px;
    height: 21px;
    margin: 10px 0 0;
    vertical-align: middle;
    display: block;
    position: relative;
}
.fullPage-nav ul li:hover{
    background: url("../img/dot.png") 69px bottom no-repeat;
}
.fullPage-nav ul li a{
    width: 21px;
    height: 21px;
    display: block;
    position: relative;
    float: right;
    color: #8F9DA4;
    text-decoration: none;
    text-align: right;
    background: url(../img/dot.png) 5px 5px no-repeat;
    z-index: 1;
    cursor: pointer;
}
.fullPage-nav ul li a span{
    display: none;
    top: 2px;
    left: -100px;
    width:100px;
    height: 8px;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.fullPage-nav ul li a:hover span{
    display:block;
}
